// Colours
$light: #FFF;
$dark: #222;
$blue: #1F8DE2;
$green: #1FE27B;
$red: #E21F3F;

// Fonts Faces
$font-headings: "Special Elite", cursive;
$font-text: Helvetica, Arial, sans-serif;

// Font Sizing
$font-size--xs: 10px;
$font-size--sm: 16px;
$font-size--md: 20px;
$font-size--lg: 32px;
$font-size--xl: 38px;